* {
    margin: 0;
    padding: 0;
    font-family: Times, serif;
    box-sizing: border-box;
    background-color: black;
}
/*#9370DB lavanda
/*#BDB76B verde pistache
/*#87CEEB blue sky
/*#FFB6C1 rosa claro*/

body {
    height: 100vh;
    width: 100%;
}
.global {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
   
}

#logo-header {
    height: 10vh;
}

.header {
    display: flex;
    flex-shrink: 0;
    flex-grow: 1;
    flex-basis: 15vh;
    width: 100%;
    box-sizing: border-box;
    background-color: black;
    align-items: center;
    justify-content: space-between;
}
.logotipo{
    display: flex;
    flex-grow: 0.9;
    background-color: #000000;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    width: 20%;
    height: 3vh;
    margin-left: 15px;

}
.logotipo img {
    width: 90px;
    height: 75px;
    border-radius: 50%;
}
.logotipo p {
    color: #FFB6C1;
    margin-left: 10px;
}
.div-button{
    display: flex;
    flex-grow: 0.4;
    background-color: #000000;
    justify-content: space-between;
}
.div-button button {
    background-color: transparent;
    border: none;
    flex-grow: 1;
    color: white;
    flex-shrink: 0;
}
.conteudo {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-around;
    background-color: #000000;
    
}

.footer {
    display: flex;
    color: white;
    background-color: #000000;
    align-items: center;
    justify-content: center;
}

.footer .p2{
    margin-left: 10px;
    margin-right: 10px;
}

.dentro {
    display: flex;
    flex-grow: 1;
    flex-direction: column;

}

.logos {
    height: 7vh;
    margin-top: 25px;
}

.div-logos-img {
    margin-bottom: 10px;
}

h1 {
    color:white;
    border: 0;
    padding: 0;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    text-decoration: underline;
    
}

.div-input {
    margin-right: 30px;
}

.input-header {
    border-radius: 5px;
    font-style: oblique;
    background-color: transparent;
    color: white;
}

.div-button {
    display: flex;
    justify-content: center;
    width: 60%; 
}

.button-header:hover{
    font-size: 20px;
}

.button-header{
    width: 10%;
    border: none;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif; 
    background-color: transparent;
    color:white;
}
.img1 { 
    width: 20%;
    height: 25vh;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: white;
}
.card {
    width: 100%;
    /* width: 100%; */
    display: flex;
    /* padding: 5px; */
    justify-content: space-between;
    /* background-color: red; */
}

.rodape {
    display: flex;
    bottom: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: black;
}
.button-fila1-infantil, .button-fila2-nacionais, .button-fila3-internacionais, .button-fila4-series {
    background-color:transparent ;
    color: white;
    border: none;
    text-decoration: underline;
}


.div-button-infantil, .div-button-nacionais, .div-button-series, .div-button-internacionais {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

.div-button-infantil > .button-fila1-infantil{
    margin-top: 40px;
}

.fotos:hover {
    width: 110% ;
}


@media screen and (max-width:550px) {
    
    .footer {
        flex-direction: column;
    }
}

@media screen and (min-height:1000px){
    
    * {
        font-size:large;
    }
    .footer {
        flex-direction: column;
    }
}


@media screen and (max-width: 768px) {

    .card {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        flex-grow: 1;
    }

    .logo { 
        display: none;
    }

    .div-input {
        display: none;
    }
    .img1 {
        width: 30%;
        height: 20vh;
        margin: 5px;
    }

    .fotos {
        width: 100%;
        height: 20vh;
    }

    .div-button {
        width: 100%; 
        justify-content: space-around;
        align-items: center;
    }

    .logos {
        width: 20%;
    }
    

    h1 {
        font-size: 25px;
    }

    .fotos:hover {
        height: 21vh;
        width: 103%;
       
    }

}

@media screen and (min-height: 1000px) {
    .card {
        flex-wrap: wrap;
        justify-content: center;
        flex-grow: 1;
        flex-shrink: 0;
    }
    .img1 {
        width: 50%;
    }
}